.hero{
    width: 100%;
    height: 1600px;
    background: url('../../assets/images/hero-background.png');
    background-repeat: no-repeat;
    background-position: center;
    /* albo background-attachment: fixed; */
    background-size: cover;
}