@import "../../assets/base-styles/variables.scss";

.content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 3200px;
    background-color: $base-color;
    padding: 0 230px;
}