@import "../../assets/base-styles/variables.scss";

.social {
    position: fixed;

    z-index: 99;
    display: flex;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;

    top: 40%;

    color: white;
    transform: rotate(90deg);
    -webkit-transform-origin: 50% 53%;

    width: 200px;
    justify-content: space-between;

    i {
        cursor: pointer;
        &:hover {
            color: $additional-color;
        }

        transition: 0.3s;
    }
}
